openapi: 3.1.0
info:
  title: Octoparse Action Actions API
  version: 1.0.0
  description: 'Octoparse is your no-coding solution for web scraping to turn pages into

    structured data within clicks.'
servers:
- url: https://openapi.octoparse.com/
  description: API Server URL
tags:
- name: Actions
paths:
  task/getActions:
    post:
      tags:
      - Actions
      summary: Octoparse getActions
      description: Get Action Parameters
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              title: Request Body Example
              type: object
              properties:
                taskIds:
                  type: array
                  items:
                    type: string
                actionTypes:
                  type: array
                  items:
                    type: string
              required:
              - taskIds
              - actionTypes
      parameters: []
      responses:
        '200':
          description: 'Response Example (LoopAction):'
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: 'Response Example (LoopAction):'
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        taskId:
                          type: string
                        actions:
                          type: array
                          items:
                            type: object
                            properties:
                              actionType:
                                type: string
                              loopType:
                                type: string
                              loopItems:
                                type: array
                                items:
                                  type: string
                              name:
                                type: string
                              actionId:
                                type: string
                            required:
                            - actionType
                            - loopType
                            - loopItems
                            - name
                            - actionId
                  requestId:
                    type: string
              examples:
                'Response Example (LoopAction):':
                  value:
                    data:
                    - taskId: a3b9bdf7-9aaa-22f6-9ccf-b32790f6df8f
                      actions:
                      - actionType: LoopAction
                        loopType: URLList
                        loopItems:
                        - http://www.octoparse
                        name: Loop URLs
                        actionId: ce1wg4nytr
                      - actionType: LoopAction
                        loopType: TextList
                        loopItems:
                        - Octoparse
                        name: Loop Texts
                        actionId: 6l3bq70xaka
                    requestId: 0HMCVDHG1V3E6:00000002
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: ServerError
                      message: Internal Server Error
                    requestId: 0HMD469L0I8R0:00000001
