openapi: 3.1.0
info:
  title: Octoparse Action Stop API
  version: 1.0.0
  description: 'Octoparse is your no-coding solution for web scraping to turn pages into

    structured data within clicks.'
servers:
- url: https://openapi.octoparse.com/
  description: API Server URL
tags:
- name: Stop
paths:
  cloudextraction/stop:
    post:
      tags:
      - Stop
      summary: Octoparse cloudextractionStop
      description: Stop Task
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              title: Request Body Example
              type: object
              properties:
                taskId:
                  type: string
                  description: Task ID
              required:
              - taskId
      parameters: []
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: 'null'
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data: null
                    requestId: 0HMD469L0I8Q1:00000001
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: ServerError
                      message: Internal Server Error
                    requestId: 0HMD469L0I8R0:00000001
  cloudextraction/subtasks{stop}:
    post:
      tags:
      - Stop
      summary: Octoparse cloudextractionSubtasksStop
      description: Stop Subtasks
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              title: Request Header Example
              type: object
              properties:
                taskId:
                  type: string
                  description: Task ID
                subTaskIds:
                  type: array
                  items:
                    type: string
              required:
              - taskId
              - subTaskIds
      parameters: []
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: 'null'
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data: null
                    requestId: 0HMD469L0I8Q1:00000001
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: ServerError
                      message: Internal Server Error
                    requestId: 0HMD469L0I8R0:00000001
