openapi: 3.1.0
info:
  title: Octoparse Action Cloud_ Extraction API
  version: 1.0.0
  description: 'Octoparse is your no-coding solution for web scraping to turn pages into

    structured data within clicks.'
servers:
- url: https://openapi.octoparse.com/
  description: API Server URL
tags:
- name: Cloud_ Extraction
paths:
  cloudextraction/task/subtasks:
    get:
      tags:
      - Cloud_ Extraction
      summary: Octoparse SubtasksStatus
      description: Get Subtask Status
      requestBody:
        content:
          application/json: {}
      parameters:
      - in: query
        name: taskId
        description: Task ID
        required: true
        schema:
          type: string
      - in: query
        name: page
        description: Page number
        required: true
        schema:
          type: string
      - in: query
        name: size
        description: Number of subtasks a page (1 to 20)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        subTaskId:
                          type: string
                        status:
                          type: string
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data:
                    - subTaskId: 1ea88321-6627-43db-896b-851dba5d69ec
                      status: Extracting
                    requestId: 0HMD469L0I8R0:00000001
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: ServerError
                      message: Internal Server Error
                    requestId: 0HMD469L0I8R0:00000001
  cloudextraction/start:
    post:
      tags:
      - Cloud_ Extraction
      summary: Octoparse cloudextractionStart
      description: Start Task
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              title: Request Body Example
              type: object
              properties:
                taskId:
                  type: string
                  description: Task ID
              required:
              - taskId
      parameters: []
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: 'null'
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data: null
                    requestId: 0HMD469L0I8Q1:00000001
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: ServerError
                      message: Internal Server Error
                    requestId: 0HMD469L0I8R0:00000001
