openapi: 3.1.0
info:
  title: Octoparse Action Files API
  version: 1.0.0
  description: 'Octoparse is your no-coding solution for web scraping to turn pages into

    structured data within clicks.'
servers:
- url: https://openapi.octoparse.com/
  description: API Server URL
tags:
- name: Files
paths:
  task/urls{file}:
    post:
      tags:
      - Files
      summary: Octoparse UpdateUrls
      description: Update Task URLs
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              properties:
                file:
                  type: file
                  description: 'URL path: C:\Username\URLs.txt'
              type: object
              required:
              - file
      parameters:
      - in: query
        name: taskId
        description: Task ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: 'null'
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data: null
                    requestId: 0HMCVDHG1V3E6:00000002
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: InvalidTaskId
                      message: Invalid task ID
                    requestId: 0HMCVDHG1V3E6:00000002
