openapi: 3.1.0
info:
  title: Octoparse
  version: 1.0.0
  description: |-
    Octoparse is your no-coding solution for web scraping to turn pages into
    structured data within clicks.
servers:
  - url: https://openapi.octoparse.com/
    description: API Server URL
paths:
  token:
    post:
      tags:
        - Token
      summary: getToken
      description: Obtain a New Token
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              title: Request Body Example
              type: object
              properties:
                username:
                  type: string
                  description: Account email address or username
                password:
                  type: string
                  description: Account password
                grant_type:
                  type: string
                  description: password
              required:
                - username
                - password
                - grant_type
      parameters: []
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      access_token:
                        type: string
                      expires_in:
                        type: string
                      token_type:
                        type: string
                      refresh_token:
                        type: string
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data:
                      access_token: >-
                        eyJhbGciOiJSUzI1NiIsImtpZCI6ImdXS3hWc0F4SHhaMDlDcWh6NkNJb3ciLCJ0eXAiOiJhdCtqd3QifQ.eyJuYmYiOjE2MzY0NjIyNzAsImV4cCI6MTYzNjU0ODY2OSwiaXNzIjoiaHR0cDovL3Rlc3QuaWRlbnRpdHkuYmF6aHVheXUuY29tIiwiY2xpZW50X2lkIjoiT2N0b3B1cyIsInN1YiI6IjllOGJiM2VhLWUwMWQtNGFlZC05ODM3LTVhMWUyODg0NWI5ZSIsImF1dGhfdGltZSI6MTYzNjQ2MjI3MCwiaWRwIjoibG9jYWwiLCJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1laWRlbnRpZmllciI6IjllOGJiM2VhLWUwMWQtNGFlZC05ODM3LTVhMWUyODg0NWI5ZSIsImh0dHA6Ly9zY2hlbWFzLnhtbHNvYXAub3JnL3dzLzIwMDUvMDUvaWRlbnRpdHkvY2xhaW1zL25hbWUiOiJ0ZXN0d2VuIiwicHJlZmVycmVkX3VzZXJuYW1lIjoidGVzdHdlbiIsInVuaXF1ZV9uYW1lIjoidGVzdHdlbiIsInJlZ2lzdGVyX2RhdGUiOiIxMS8wNC8yMDE2IDA4OjM4OjE2ICswODowMCIsImxhc3RfbG9naW5fZGF0ZSI6IjA0LzIyLzIwMTkgMDk6MDE6MDIgKzA4OjAwIiwibGFzdF9wYXNzd29yZF9jaGFuZ2VkX2RhdGUiOiIwMS8yMy8yMDE5IDA4OjMwOjMxICswODowMCIsImh0dHA6Ly9zY2hlbWFzLnhtbHNvYXAub3JnL3dzLzIwMDUvMDUvaWRlbnRpdHkvY2xhaW1zL2VtYWlsYWRkcmVzcyI6IndlbmRpQHNraWVlci5jb20iLCJlbWFpbCI6IndlbmRpQHNraWVlci5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwic2NvcGUiOlsiZW1haWwiLCJvcGVuaWQiLCJyb2xlcyIsIm9mZmxpbmVfYWNjZXNzIl0sImFtciI6WyJwd2QiXX0.ARhbBfzI1xS6yo-Ue1CFHzMaUIfzw4gJlubNBOkUT4SSTlhuS4bVQ4t4UHuYGbE9VX6XgNVgkcDnx6XapqcPohSy7vPv9TIAsjtbrQSA3mj13SnVVAPWwfAVJ-I7g9HDnyPEEOVSvmZUJhiz-irH5L0ojbnt3ck2rQ9tIFuSd7j2eh5BS4ItjNoHY00rh_QPZltk66a9q-fNE33GrxOaXUdHH47WMlsENnh1gybB7QtGtd6bZ982Qa9JljpFnZWSdEf4VfkN4JmhkUTTC908DqS3stT-LD-9tpztFwB54sd0D4CyOBnESkKrUwjxchYYZo4l1O7auiZVGV48YhZYMw
                      expires_in: '86399'
                      token_type: Bearer
                      refresh_token: SSc1Uf56BRfNfSewsZ0FJCHjfqI5FwGW3k2QfiRplN8
                    requestId: 0HMD3FSLHJRVO:00000002
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: Invalid.Grant
                      message: Incorrect username or password.
                    requestId: 0HMD43G9J9JV9:00000001
  cloudextraction/task/subtasks:
    get:
      tags:
        - Task
        - Cloud_ Extraction
      summary: SubtasksStatus
      description: Get Subtask Status
      requestBody:
        content:
          application/json: {}
      parameters:
        - in: query
          name: taskId
          description: Task ID
          required: true
          schema:
            type: string
        - in: query
          name: page
          description: Page number
          required: true
          schema:
            type: string
        - in: query
          name: size
          description: Number of subtasks a page (1 to 20)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        subTaskId:
                          type: string
                        status:
                          type: string
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data:
                      - subTaskId: 1ea88321-6627-43db-896b-851dba5d69ec
                        status: Extracting
                    requestId: 0HMD469L0I8R0:00000001
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: ServerError
                      message: Internal Server Error
                    requestId: 0HMD469L0I8R0:00000001
  cloudextraction/statuses:
    post:
      tags:
        - Statuses
      summary: TaskStatus
      description: Get Task Status
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              title: Request Body Example
              type: object
              properties:
                taskIds:
                  type: array
                  items:
                    type: string
              required:
                - taskIds
      parameters: []
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        taskId:
                          type: string
                        taskName:
                          type: string
                        status:
                          type: string
                      required:
                        - taskId
                        - taskName
                        - status
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data:
                      - taskId: a3b9bdf7-9aaa-22f6-9ccf-b32790f6df8f
                        taskName: Octoparse
                        status: Extracting
                      - taskId: 86b9bdf7-9aaa-22236-9ccf-b3279469df01
                        taskName: Octoparse2
                        status: Stopped
                    requestId: 0HMD469L0I8R0:00000001
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: ServerError
                      message: Internal Server Error
                    requestId: 0HMD469L0I8R0:00000001
  cloudextraction/statuses/v2:
    post:
      tags:
        - Statuses
      summary: TaskStatusV2
      description: Get Task Status V2
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              title: Request Body Example
              type: object
              properties:
                taskIds:
                  type: array
                  items:
                    type: string
              required:
                - taskIds
      parameters: []
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        taskId:
                          type: string
                        status:
                          type: string
                        currentTotalExtractCount:
                          type: number
                        executedTimes:
                          type: number
                        subTaskCount:
                          type: number
                        nextExecuteTime:
                          type: string
                        endExecuteTime:
                          type: string
                        startExecuteTime:
                          type: string
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data:
                      - taskId: a3b9bdf7-9aaa-22f6-9ccf-b32790f6df8f
                        status: Extracting
                        currentTotalExtractCount: 0
                        executedTimes: 1
                        subTaskCount: 1
                        nextExecuteTime: '2018-04-04T20:34:20.973'
                        endExecuteTime: '2018-04-04T18:34:20.973'
                        startExecuteTime: '2018-04-04T18:34:20.973'
                    requestId: 0HMD469L0I8R0:00000001
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: ServerError
                      message: Internal Server Error
                    requestId: 0HMD469L0I8R0:00000001
  cloudextraction/start:
    post:
      tags:
        - Cloud_ Extraction
      summary: cloudextractionStart
      description: Start Task
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              title: Request Body Example
              type: object
              properties:
                taskId:
                  type: string
                  description: Task ID
              required:
                - taskId
      parameters: []
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: 'null'
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data: null
                    requestId: 0HMD469L0I8Q1:00000001
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: ServerError
                      message: Internal Server Error
                    requestId: 0HMD469L0I8R0:00000001
  cloudextraction/stop:
    post:
      tags:
        - Stop
      summary: cloudextractionStop
      description: Stop Task
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              title: Request Body Example
              type: object
              properties:
                taskId:
                  type: string
                  description: Task ID
              required:
                - taskId
      parameters: []
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: 'null'
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data: null
                    requestId: 0HMD469L0I8Q1:00000001
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: ServerError
                      message: Internal Server Error
                    requestId: 0HMD469L0I8R0:00000001
  cloudextraction/subtasks{start}:
    post:
      tags:
        - Subtasks
      summary: cloudextractionSubtasksStart
      description: Start subtasks
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              title: Request Body Example
              type: object
              properties:
                taskId:
                  type: string
                  description: Task ID
                subTaskIds:
                  type: array
                  items:
                    type: string
              required:
                - taskId
                - subTaskIds
      parameters: []
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: 'null'
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data: null
                    requestId: 0HMD469L0I8Q1:00000001
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: ServerError
                      message: Internal Server Error
                    requestId: 0HMD469L0I8R0:00000001
  cloudextraction/subtasks{stop}:
    post:
      tags:
        - Subtasks
        - Stop
      summary: cloudextractionSubtasksStop
      description: Stop Subtasks
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              title: Request Header Example
              type: object
              properties:
                taskId:
                  type: string
                  description: Task ID
                subTaskIds:
                  type: array
                  items:
                    type: string
              required:
                - taskId
                - subTaskIds
      parameters: []
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: 'null'
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data: null
                    requestId: 0HMD469L0I8Q1:00000001
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: ServerError
                      message: Internal Server Error
                    requestId: 0HMD469L0I8R0:00000001
  data/all:
    get:
      tags:
        - Data
      summary: all
      description: Get Data by Offset
      requestBody:
        content:
          application/json: {}
      parameters:
        - in: query
          name: taskId
          description: Task ID
          required: true
          schema:
            type: string
        - in: query
          name: offset
          description: >-
            Data offset. When offset=0, you can get data from the first data
            row.
          required: true
          schema:
            type: string
        - in: query
          name: size
          description: The amount of data rows(range from 1 to 1000).
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      offset:
                        type: number
                      total:
                        type: number
                      restTotal:
                        type: number
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            State:
                              type: string
                            City:
                              type: string
                          required:
                            - State
                            - City
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data:
                      offset: 4
                      total: 100000
                      restTotal: 99996
                      data:
                        - State: Texas
                          City: Plano
                        - State: Texas
                          City: Houston
                        - State: Texas
                          City: Austin
                        - State: Texas
                          City: Arlington
                    requestId: 0HMD469L0I8Q1:00000001
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: ServerError
                      message: Internal Server Error
                    requestId: 0HMD469L0I8R0:00000001
  data/lotno/all:
    get:
      tags:
        - Data
      summary: lotnoAll
      description: Get Data From a Designated Batch by Offset
      requestBody:
        content:
          application/json: {}
      parameters:
        - in: query
          name: taskId
          description: Task Id
          required: true
          schema:
            type: string
        - in: query
          name: lotno
          description: Batch ID
          required: true
          schema:
            type: string
        - in: query
          name: offset
          description: >-
            Data offset. When offset=0, you can get data from the first data
            row.
          required: true
          schema:
            type: string
        - in: query
          name: size
          description: The amount of data rows (range from 1 to 1000).
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      offset:
                        type: number
                      total:
                        type: number
                      restTotal:
                        type: number
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            State:
                              type: string
                            City:
                              type: string
                          required:
                            - State
                            - City
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data:
                      offset: 4
                      total: 100000
                      restTotal: 99996
                      data:
                        - State: Texas
                          City: Plano
                        - State: Texas
                          City: Houston
                        - State: Texas
                          City: Austin
                        - State: Texas
                          City: Arlington
                    requestId: 0HMD469L0I8Q1:00000001
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: ServerError
                      message: Internal Server Error
                    requestId: 0HMD469L0I8R0:00000001
  data/markexported:
    post:
      tags:
        - Data
      summary: markexported
      description: Mark Data as Exported
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              title: Request Body Example
              type: object
              properties:
                taskId:
                  type: string
                  description: Task ID
              required:
                - taskId
      parameters: []
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: 'null'
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data: null
                    requestId: 0HMD469L0I8Q1:00000001
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: ServerError
                      message: Internal Server Error
                    requestId: 0HMD469L0I8R0:00000001
  data/notexported:
    get:
      tags:
        - Data
      summary: notexported
      description: Get Non-Exported Data
      requestBody:
        content:
          application/json: {}
      parameters:
        - in: query
          name: taskId
          description: Task ID
          required: true
          schema:
            type: string
        - in: query
          name: size
          description: The amount of data rows(range from 1 to 1000)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      total:
                        type: number
                      current:
                        type: number
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            State:
                              type: string
                            City:
                              type: string
                          required:
                            - State
                            - City
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data:
                      total: 100000
                      current: 4
                      data:
                        - State: Texas
                          City: Plano
                        - State: Texas
                          City: Houston
                        - State: Texas
                          City: Austin
                        - State: Texas
                          City: Arlington
                    requestId: 0HMD469L0I8Q1:00000001
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: ServerError
                      message: Internal Server Error
                    requestId: 0HMD469L0I8R0:00000001
  data/remove:
    post:
      tags:
        - Data
        - Remove
      summary: remove
      description: Remove Data
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              title: Request Body Example
              type: object
              properties:
                taskId:
                  type: string
                  description: Task ID
              required:
                - taskId
      parameters: []
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: 'null'
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data: null
                    requestId: 0HMD469L0I8Q1:00000001
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: ServerError
                      message: Internal Server Error
                    requestId: 0HMD469L0I8R0:00000001
  task/copy:
    post:
      tags:
        - Task
        - Copy
      summary: Copy
      description: Duplicate Task
      requestBody:
        content:
          application/json: {}
      parameters:
        - in: query
          name: taskGroupId
          description: >-
            Task group ID (If not specified, the task will be duplicated to the
            current task group)
          required: true
          schema:
            type: string
        - in: query
          name: taskId
          description: Task ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      taskId:
                        type: string
                      taskName:
                        type: string
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data:
                      taskId: a3b9bdf7-9aaa-22f6-9ccf-b32790f6df8f
                      taskName: Octoparse
                    requestId: 0HMCVDHG1V3E6:00000002
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: InvalidTaskId
                      message: Invalid Id
                    requestId: 0HMCVDHG1V3E6:00000002
  task/moveToGroup:
    post:
      tags:
        - Task
        - Move
        - Group
      summary: MoveToGroup
      description: Move Task
      requestBody:
        content:
          application/json: {}
      parameters:
        - in: query
          name: taskGroupId
          description: Task group ID
          required: true
          schema:
            type: string
        - in: query
          name: taskId
          description: Task ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      moved:
                        type: boolean
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data:
                      moved: true
                    requestId: 0HMCVDHG1V3E6:00000002
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: InvalidTaskId
                      message: Invalid task ID
                    requestId: 0HMCVDHG1V3E6:00000002
  task/search:
    get:
      tags:
        - Task
        - Search
      summary: Search
      description: Search Task
      requestBody:
        content:
          application/json: {}
      parameters:
        - in: query
          name: taskGroupId
          description: Task group ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        taskId:
                          type: string
                        taskName:
                          type: string
                      required:
                        - taskId
                        - taskName
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data:
                      - taskId: a3b9bdf7-9aaa-22f6-9ccf-b32790f6df8f
                        taskName: Task Group 1
                      - taskId: 86b9bdf7-9aaa-22236-9ccf-b3279469df01
                        taskName: Task Group 2
                    requestId: 0HMCVDHG1V3E6:00000002
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: InvalidParameter
                      message: Invalid field
                    requestId: 0HMCVDHG1V3E6:00000002
  task/urls{file}:
    post:
      tags:
        - Task
        - Files
      summary: UpdateUrls
      description: Update Task URLs
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              properties:
                file:
                  type: file
                  description: 'URL path: C:\Username\URLs.txt'
              type: object
              required:
                - file
      parameters:
        - in: query
          name: taskId
          description: Task ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: 'null'
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data: null
                    requestId: 0HMCVDHG1V3E6:00000002
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: InvalidTaskId
                      message: Invalid task ID
                    requestId: 0HMCVDHG1V3E6:00000002
  taskGroup:
    get:
      tags:
        - Task
        - Groups
      summary: taskGroup
      description: Get Task Group Information
      requestBody:
        content:
          application/json: {}
      parameters: []
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        taskGroupId:
                          type: number
                        taskGroupName:
                          type: string
                      required:
                        - taskGroupId
                        - taskGroupName
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data:
                      - taskGroupId: 23894
                        taskGroupName: Task Group 1
                      - taskGroupId: 35489
                        taskGroupName: Task Group 2
                    requestId: 0HMCVDHG1V3E6:00000002
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: ServerError
                      message: Internal Server Error
                    requestId: 0HMD469L0I8R0:00000001
  task/getActions:
    post:
      tags:
        - Task
        - Actions
      summary: getActions
      description: Get Action Parameters
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              title: Request Body Example
              type: object
              properties:
                taskIds:
                  type: array
                  items:
                    type: string
                actionTypes:
                  type: array
                  items:
                    type: string
              required:
                - taskIds
                - actionTypes
      parameters: []
      responses:
        '200':
          description: 'Response Example (LoopAction):'
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: 'Response Example (LoopAction):'
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        taskId:
                          type: string
                        actions:
                          type: array
                          items:
                            type: object
                            properties:
                              actionType:
                                type: string
                              loopType:
                                type: string
                              loopItems:
                                type: array
                                items:
                                  type: string
                              name:
                                type: string
                              actionId:
                                type: string
                            required:
                              - actionType
                              - loopType
                              - loopItems
                              - name
                              - actionId
                  requestId:
                    type: string
              examples:
                'Response Example (LoopAction):':
                  value:
                    data:
                      - taskId: a3b9bdf7-9aaa-22f6-9ccf-b32790f6df8f
                        actions:
                          - actionType: LoopAction
                            loopType: URLList
                            loopItems:
                              - http://www.octoparse
                            name: Loop URLs
                            actionId: ce1wg4nytr
                          - actionType: LoopAction
                            loopType: TextList
                            loopItems:
                              - Octoparse
                            name: Loop Texts
                            actionId: 6l3bq70xaka
                    requestId: 0HMCVDHG1V3E6:00000002
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: ServerError
                      message: Internal Server Error
                    requestId: 0HMD469L0I8R0:00000001
  task/updateActionProperties:
    post:
      tags:
        - Task
        - Action
        - Properties
      summary: updateActionProperties
      description: Update Action Parameters
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              title: Request Body Example (EnterTextAction)
              type: object
              properties:
                taskId:
                  type: string
                  description: Task ID
                actions:
                  type: array
                  items:
                    type: object
                    properties:
                      actionType:
                        type: string
                        description: >-
                          Action type. Currently supporting
                          &quot;NavigateAction&quot; (Go to Web Page),
                          &quot;EnterTextAction&quot; (Enter Text) and
                          &quot;LoopAction&quot; (Loop Item).
                      actionId:
                        type: string
                        description: >-
                          Action API call name. Get it by clicking the API icon
                          in the action setting or using Get Action Parameters.
                      properties:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: >-
                                Parameter name. Check the currently supported
                                parameters at Action Parameters.
                            value:
                              type: string
                              description: Parameter value
                          required:
                            - name
                            - value
                    required:
                      - actionType
                      - actionId
                      - properties
              required:
                - taskId
                - actions
      parameters: []
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data:
                      message: success
                    requestId: 0HMCVDHG1V3E6:00000002
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: InvalidParameter.Required
                      message: taskId cannot be empty.
                    requestId: 0HMCVDHG1V3E6:00000002
  task/updateLoopItems:
    post:
      tags:
        - Task
        - Loop
        - Items
      summary: updateLoopItems
      description: Update Loop Item List
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              title: Request Body Example
              type: object
              properties:
                taskId:
                  type: string
                  description: Task ID
                actionId:
                  type: string
                  description: >-
                    Action API call name. You can get it by clicking the API
                    icon in the settings of one action or using Get Action
                    Parameters.
                loopType:
                  type: string
                  description: Loop mode. TextList (Text list) or UrlList (List of URLs).
                loopItems:
                  type: array
                  items:
                    type: string
                isAppend:
                  type: bool
                  description: >-
                    Add the value to the current list or replace the current
                    list. &quot;true&quot; means to add the value to the current
                    list; &quot;false&quot; means to replace the current list.
              required:
                - taskId
                - actionId
                - loopType
                - loopItems
                - isAppend
      parameters: []
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data:
                      message: success
                    requestId: 0HMCVDHG1V3E6:00000002
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: TaskUpdateFail
                      message: Update fails.
                    requestId: 0HMCVDHG1V3E6:00000002
