openapi: 3.1.0
info:
  title: Octoparse Action Items API
  version: 1.0.0
  description: 'Octoparse is your no-coding solution for web scraping to turn pages into

    structured data within clicks.'
servers:
- url: https://openapi.octoparse.com/
  description: API Server URL
tags:
- name: Items
paths:
  task/updateLoopItems:
    post:
      tags:
      - Items
      summary: Octoparse updateLoopItems
      description: Update Loop Item List
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              title: Request Body Example
              type: object
              properties:
                taskId:
                  type: string
                  description: Task ID
                actionId:
                  type: string
                  description: Action API call name. You can get it by clicking the API icon in the settings of one action or using Get Action Parameters.
                loopType:
                  type: string
                  description: Loop mode. TextList (Text list) or UrlList (List of URLs).
                loopItems:
                  type: array
                  items:
                    type: string
                isAppend:
                  type: bool
                  description: Add the value to the current list or replace the current list. &quot;true&quot; means to add the value to the current list; &quot;false&quot; means to replace the current list.
              required:
              - taskId
              - actionId
              - loopType
              - loopItems
              - isAppend
      parameters: []
      responses:
        '200':
          description: Response Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Response Example
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Response Example:
                  value:
                    data:
                      message: success
                    requestId: 0HMCVDHG1V3E6:00000002
        '400':
          description: Error Example
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                title: Error Example
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  requestId:
                    type: string
              examples:
                Error Example:
                  value:
                    error:
                      code: TaskUpdateFail
                      message: Update fails.
                    requestId: 0HMCVDHG1V3E6:00000002
